@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 992px) {
    .navbar-expand-lg .offcanvas-nav .offcanvas-end, .navbar-expand-lg .offcanvas-nav.offcanvas-start {
        width: 100%;
    }

    .px-lg-2 {
        padding-left: 0.5rem!important;
        padding-right: 0.5rem!important;
    }

    .px-md-0 {
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .order-lg-2 {
        order: 2!important;
    }

    .offset-lg-1 {
        margin-left: 8.333333%!important;
    }

    .text-lg-start {
        text-align: left!important;
    }

    .mt-lg-n10 {
        margin-top: -2.5rem!important;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        max-width: 50%;
    }

    .mb-lg-16 {
        margin-bottom: 6rem!important;
    }

    .g-lg-0, .gy-lg-0 {
        --bs-gutter-y: 0;
    }

    .g-lg-0, .gx-lg-0 {
        --bs-gutter-x: 0;
    }

    .navbar-expand-lg .offcanvas-nav {
        position: unset;
        flex-direction: row;
    }

    .navbar-expand-lg .offcanvas {
        position: static;
        z-index: auto;
        flex-grow: 1;
        width: auto!important;
        height: auto!important;
        visibility: visible!important;
        background-color: transparent!important;
        border: 0!important;
        transform: none!important;
        box-shadow: none;
        transition: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .offcanvas .offcanvas-header {
        display: none;
    }

    .d-lg-none {
        display: none!important;
    }

    .navbar-expand-lg .offcanvas .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }

    .ms-lg-auto {
        margin-left: auto!important;
    }

    .navbar-expand-lg .dropdown-mega, .navbar-expand-lg .navbar-nav {
        position: static!important;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg.navbar-light .dropdown:not(.dropdown-submenu)>.dropdown-toggle:after {
        color: var(--bs-primary);
    }
}


@media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-brand {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
    .mb-md-10  {
        margin-bottom: 2.5rem!important;
    }
    .flex-md-row {
        flex-direction: row!important;
    }
    .d-md-flex {
        display: flex!important;
    }
    .g-md-8, .gx-md-8 {
        --bs-gutter-x: 2rem;
    }
    .g-8, .gy-8 {
        --bs-gutter-y: 2rem;
    }
    .g-0, .gx-0 {
        --bs-gutter-x: 0;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.666667%;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.px-5 {
    padding-right: 1.25rem!important;
    padding-left: 1.25rem!important;
}

.bg-primary {
    background-color: #3f78e0;
    height: 8.5vh;
}

figure {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

figure img {
    width: 100%;
    max-width: 75%;
    padding-top: 20px!important;
    height: auto!important;
}

.text-white {
    color: #fff!important;
}

.fw-bold {
    font-weight: 1200!important;
}

header {
    position: relative;
    display: block;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity))!important;
}

section {
    display: block;
}

.content-wrapper {
    flex-grow: 1;
    flex-shrink: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.inc-font {
    font-size: larger!important;
}

div {
    display: block;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    word-spacing: 0.05rem;
    line-height: 1.7;
}

.flex-md-row {
    flex-direction: row!important;
}

.d-md-flex {
    display: flex!important;
}

.flex-row {
    flex-direction: row!important;
}

.py-2 {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}

.container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --bs-gutter-x: 1.5rem;
    max-width: 720px;
    width: 100%;
    padding-right: calc(1.5rem / 2);
    padding-left: calc(1.5rem / 2);
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #343f52;
    word-spacing: 0.1rem;
    letter-spacing: -.01rem;
}

.h3, h3 {
    line-height: 1.4;
}

.fs-15 {
    font-size: .75rem!important;
}

.fs-22  {
    font-size: 1.1rem!important;
}

.fs-30 {
    font-size: calc(1.275rem + .3vw)!important;
}

.mt-1 {
    margin-top: 0.25rem!important;
}

.me-2 {
    margin-right: 0.5rem!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.mb-2 {
    margin-bottom: 0.5rem!important;
}

.mb-5 {
    margin-bottom: 1.25rem!important;
}

.mb-7 {
    margin-bottom: 1.75rem!important;
}

.ms-auto {
    margin-left: auto!important;
}

.me-6 {
    margin-right: 1.5rem!important;
} 

.col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
}

.align-items-center {
    align-items: center!important;
}

.uil-location-pin-alt::before {
    content: "\ebd8";
}

.uil-message::before {
    content: "\ebfe";
}

.uil-phone-volume::before {
    content: "\ec50";
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
    display: block;
}

.link-white {
    color: #fff!important;
}

a {
    transition: all .2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

a.hover {
    position: relative;
    box-sizing: border-box;
}

a.hover::before {
    content: "";
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: .3s cubic-bezier(.7,0,.2,1);
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.navbar {
    width: 100%;
    z-index: 1020;
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
    --bs-navbar-color: #343f52;
    --bs-navbar-hover-color: var(--bs-primary);
    --bs-navbar-disabled-color: rgba(52, 63, 82, 0.3);
    --bs-navbar-active-color: var(--bs-primary);
    --bs-navbar-brand-padding-y: 0;
    --bs-navbar-brand-margin-end: 0;
    --bs-navbar-brand-font-size: 0.7rem;
    --bs-navbar-brand-color: var(--bs-primary);
    --bs-navbar-brand-hover-color: var(--bs-primary);
    --bs-navbar-nav-link-padding-x: 1rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='45' height='32' viewBox='0 0 45 32'%3e%3cpath fill='%233f78e0' d='M26.88 29.888c-1.076 1.289-2.683 2.103-4.48 2.103s-3.404-0.814-4.472-2.093l-0.008-0.009-5.12-7.040-8.192-10.048-3.52-4.608c-0.646-0.848-1.036-1.922-1.036-3.087 0-2.828 2.292-5.12 5.12-5.12 0.139 0 0.277 0.006 0.413 0.016l-0.018-0.001h33.664c0.118-0.010 0.256-0.015 0.396-0.015 2.828 0 5.12 2.292 5.12 5.12 0 1.165-0.389 2.239-1.045 3.1l0.009-0.013-3.52 4.608-7.872 10.048z'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: 0.4rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar.container {
    position: relative;
}

nav {
    display: block;
}

.flex-nowrap {
    flex-wrap: nowrap!important;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.w-100 {
    width: 100%!important;
}

.navbar-brand {
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    white-space: nowrap;
}

img, svg {
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.navbar .navbar-collapse {
    align-items: center;
}

.offcanvas.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    box-shadow: var(--bs-offcanvas-box-shadow);
    transition: var(--bs-offcanvas-transition);
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 15rem;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1.5rem;
    --bs-offcanvas-padding-y: 1.5rem;
    --bs-offcanvas-color: var(--bs-white);
    --bs-offcanvas-bg: #1e2228;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-border-color: transparent;
    --bs-offcanvas-box-shadow: none;
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.offcanvas-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.offcanvas-nav .offcanvas-body {
    flex-grow: 0;
}

.offcanvas-body {
    padding-top: 0;
    padding-bottom: 0;
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto;
}

.flex-column {
    flex-direction: column!important;
}

.h-100 {
    height: 100%!important;
}

.d-flex {
    display: flex!important;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 1.2rem;
    --bs-nav-link-font-size: 0.8rem;
    --bs-nav-link-font-weight: 700;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol, ul {
    padding-left: 2rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.nav-link {
    --bs-nav-link-font-weight: 700;
    letter-spacing: -.01rem;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    background: 0 0;
    border: 0;
    transition: color .2s ease-in-out;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle:after {
    font-size: .85rem;
    margin-right: -0.25rem;
}
.dropdown-toggle::after {
    font-family: Unicons;
    display: inline-block;
    margin-left: 0.05rem;
    vertical-align: -3px;
    font-weight: 700!important;
    content: "";
    border: 0;
    content: "\e92d";
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.shape-rellax {
    z-index: 1;
    position: absolute;
}

.bg-soft-primary {
    background-color: var(--bs-soft-primary)!important;
}

.rounded {
    border-radius: 0.4rem!important;
}

.display-1 {
    font-size: calc(1.385rem + 1.62vw);
    line-height: 1.1;
}

.counter-wrapper .counter, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .ff-serif, .post-title {
    font-family: "DM Serif Display";
    font-weight: 400 !important;
    word-spacing: normal !important;
    letter-spacing: normal !important;
}

.desc-h {
    font-size: 3rem!important;
    color: black;
    justify-content: right!important;
    max-width: 80%;
}

.desc-p {
    color: black;
    font-size: 1.6rem!important;
}

.about-img {
    padding-top: 31px;
}